body {
	font-family: Arial;
	font-size: 0.813em;
	background: transparent url('../images/background.jpg') 0px 0px;
}

#content {
	max-width: 960px;
	margin: 20px auto;
	background: white;
}

h2,h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 1.875em;
	clear: both;
	margin: 0px;
	padding: 0px;
}	

h1 {
	font-family: 'Dancing Script', cursive;
	text-shadow: 3px 3px 0px gray;
	font-size: 3.750em;
	clear: both;
	margin: 0px;
	padding: 0px;
}

.blue {
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
    border: 1px solid #0076A3;
    color: #D9EEF7;
}

.blue:hover {
    background: -moz-linear-gradient(center top , #0095CC, #00678E) repeat scroll 0 0 transparent;
}

.blue:active {
    background: -moz-linear-gradient(center top , #0078A5, #00ADEE) repeat scroll 0 0 transparent;
    color: #80BED6;
}

.pink {
    background: -moz-linear-gradient(center top , #E86CA4, #E12764) repeat scroll 0 0 transparent;
    border: 1px solid #D2729E;
    color: #FEEEF5;
}

.pink:hover {
    background: -moz-linear-gradient(center top , #F86CA4, #F12764) repeat scroll 0 0 transparent;
}

.pink:active {
    background: -moz-linear-gradient(center top , #F12764, #F86CA4) repeat scroll 0 0 transparent;
    color: #F3C3D9;
}

.button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 0.875em/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}

a:link{
	color: #000000;
}

a:visited{
	color: #000000;
}
	
a:hover{
	color: #EF4035;
}
	
a:active{
	color: #EF4035;
}

nav {
	display: block;
	height: 15px;
	width: 100%;
	float: right;
	margin: 0px;
	padding: 0px;
}

#header {
	width: 100%;
	height: 35px;
	background: black;
}

.navigation {
	width: 29.166666666667%; /* 280px */
	margin: 0px;
	padding: 0px;
}

.navigation li {
	width: 25%; /* 70px */
	background: gray;
	list-style-type: none;
	overflow: hidden;
	float: left; 
	margin: 0px;
	padding: 0px;
}
	

.navigation a { 
	text-decoration: none;
	background: black;
	display: block;
	height: 35px;
	line-height: 30px;
	text-align: center;
	color: white;
}

.navigation a:hover {
	color: black;
	background: gray;
}

#action {
	background: #CCCCCC;
	height: 290px;
	width: 100%; /* 960px */
}

#actionImage {
	float: left;
	width: 53.125%; /* 550px */
}

#actionImage img {
	width: 100%;
}

#actionContent {
	width: 46.875%; /* 450px */
	float: right;
	height: 270px;
	text-align: center;
	padding-top: 20px;
}

#actionContent p {
	font-size: 1.250em;
	padding-top: 30px;
	font-style: italic;
	margin: 0px;
}

#actionContent button {
	margin-top: 10px;
	width: 44.444444444444%; /* 200px */
	height: 75px;
	display: inline-block;
	
}

#siteInfo {
	padding: 10px;
}

#extraInfo {
	margin-top: 20px;
	height: 250px;
	width: 100%; /* 960px */
}

#becomeBrony {
	width: 52.083333333333%; /* 500px */
	float: left;
	padding-left: 2%;
}

ol {
	margin: 0px;
	padding: 0px;
}

ol li {
	list-style-type: lower-alpha;
	margin: 0px  4%  0px  4%;
	text-align: justify;
}

strong {
	color: #D92660;
}

#gallery {
	width: 45.83333333333%; /* 440px */ 
	height: 200px;
	float: right;
}

#gallery ul {
	margin: 0px;
	padding: 0px;
	width: 100%; /* 200px */
}

#gallery ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 45.454545454545%; /* 200px */
	height: 80px;
	padding: 5px;
	float: left;
}

#gallery img {
	width: 100%;
	height: 100%;
}

#bottomContent {
	width: 100%; /* 960px */
	height: 500px;
	background: #555555;
	padding: 0px;
	margin: 0px;
}

footer {
	weight: 100%; /* 960 */
	height: 40px;
	text-align: right;
	padding-right: 2.083333333333%;
	margin: 0px;
	line-height: 40px;
	background: #000000;
}

#footer p, #footer a {
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
 
.definition {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

/* Tablet Portrait to Standard 960 Browser */
@media screen and (min-width: 768px) and (max-width: 959px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#extraInfo { height: 325px; }
	.definition {
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari and Chrome */
		column-count:2;
	}
	#gallery { text-align: center; }
	.navigation { width: 50%; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#extraInfo { height: 500px; }
	.definition {
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;
	}
	.navigation { width: 70%; }
	#actionImage { width: 100%; }
	#actionContent { clear: both; float: left; width: 100%; }
	#action { height: 500px; }
	#gallery { clear: both; float: left; width: 100%; margin-top: 50px; margin-left: 2%; }
	#becomeBrony { width: 100%; }
}